.calculator{
    background: white;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 500px;
    position: absolute;
    right: 150px;
    top: 50px;

    box-shadow: -3px 5px 20px -1px rgba(0,0,0,0.11);
    -webkit-box-shadow: -3px 5px 20px -1px rgba(0,0,0,0.11);
    -moz-box-shadow: -3px 5px 20px -1px rgba(0,0,0,0.11);
}

.calculator__title{
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 1.2rem;
}

.calculator__radios{
    align-items: center;
    display: flex;
    padding: 1rem 0;
}

.radio{
    margin-right: 3rem;
}

.calculator__inputs{
    align-items: center;
    display: flex;
    padding: 1rem 0 2rem 0;
}

.input__label{
    color: var(--gray);
}

.input__group{
    align-items: center;
    border: 1px solid var(--light-gray);
    border-radius: 0.2rem;
    display: flex;
    margin-right: 1rem;
    margin-top: 1rem;
}

.input__data{
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 1.5rem;
    outline: none;
    padding: 1rem;
    width: 100px;
}

.input__unit{
    color: var(--purple);
    font-size: 1.2rem;
    font-weight: 700;
    padding-right: 1.5rem;
}

.result{
    border-radius: 1rem 5rem 5rem 1rem;
    background: var(--purple);
    color: white;
    padding: 2rem;
}

.result__title{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}


.result__result{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.left__title{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.left__bmi{
    font-size: 3rem;
    font-weight: 700;
}

.result__text{
    line-height: 1.5rem;
    width: 50%;
}

#ideal-weight{
    font-weight: 700;
}

@media screen and (max-width: 728px) {
    .calculator{
        align-items: center;
        width: 90%;
        position: relative;
        padding: 2rem 0;
        right: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .calculator__inputs{
        text-align: left;
        flex-direction: column;
        width: 80%;
    }

    .input__group{
        margin-right: 0rem;
        margin-top: 1rem;
    }

    .calculator__radios{
        justify-content: space-around;
        width: 100%;
    }
    
    .radio{
        margin-right: 0rem;
    }

    .input{
        margin-top: 1rem;
    }
    .input__data{
        width: 100%;
    }

    .result{
        border-radius: 1rem;
        padding: 2rem;
        margin: 1rem 2rem;
    }

    .result__result{
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }

    .result__text{
        margin-top: 1rem;
        width: 100%;
    }

}

@media screen and (max-width: 375px) {
    .calculator{
        align-items: center;
        width: 90%;
        position: relative;
        padding: 2rem 0;
        right: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .calculator__inputs{
        text-align: left;
        flex-direction: column;
        width: 80%;
    }

    .input__group{
        margin-right: 0rem;
        margin-top: 1rem;
    }

    .calculator__radios{
        justify-content: space-around;
        width: 100%;
    }
    
    .radio{
        margin-right: 0rem;
    }

    .input{
        margin-top: 1rem;
    }
    .input__data{
        width: 100%;
    }

    .result{
        border-radius: 1rem;
        padding: 2rem;
        margin: 1rem 2rem;
    }

    .result__result{
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }

    .result__text{
        margin-top: 1rem;
        width: 100%;
    }
}