.info{
    align-items: center;
    background: url('../images/pattern-curved-line-left.svg');
    background-repeat: no-repeat;
    background-position: 80% -20%;
    display: flex;
    padding: 3rem;
    justify-content: space-between;
}

.info__img{
    width: 500px;
}

.info__text{
    width: 50%;
}

.info__title{
    color: var(--dark-blue);
    font-size: 3rem;
    font-weight: 700;
}

.info__para{
    color: var(--gray);
    line-height: 1.5rem;
    margin-top: 2rem;
    width: 90%;
}

@media screen and (max-width: 375px) {
    .info{
        flex-direction: column;
        padding: 3rem 0;
        justify-content: center;
    }

    .info__img{
        width: 100%;
    }

    .info__text{
        margin-top: 1.5rem;
        width: 95%;
    }

    .info__title{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .info__para{
        width: 100%;
    }
}