.header{
    border-radius: 0 0 5rem 0;
    background: linear-gradient(135deg, white 0%, var(--very-light-blue) 35%, var(--light-blue) 100%);
    width: 50%;
    padding: 3rem;
}

.intro{
    margin-top: 5rem;
    width: 70%;
}

.intro__title{
    color: var(--dark-blue);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.intro__para{
    color: var(--gray);
    line-height: 1.5rem;
    padding-bottom: 5rem;
}



@media screen and (max-width: 375px) {
    .header{
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .intro__title{
        padding: 0 1rem;
    
    }
    
    .intro{
        margin-top: 5rem;
        width: 100%;
    }
    
    .intro__para{
        padding: 1rem 1rem 2rem 1rem;
    }
}
